<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewInternshipsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewInternshipsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterInternshipsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FilterInternshipsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyRegisterServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CompanyRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComponyLogin</servlet-name>
        <servlet-class>za.ac.tut.web.ComponyLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostInternshipServlet</servlet-name>
        <servlet-class>za.ac.tut.web.PostInternshipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInternshipServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteInternshipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCompInternshipServlet</servlet-name>
        <servlet-class>za.ac.tut.web.viewCompInternshipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewInternshipsServlet</servlet-name>
        <url-pattern>/ViewInternshipsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterInternshipsServlet</servlet-name>
        <url-pattern>/FilterInternshipsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyRegisterServlet</servlet-name>
        <url-pattern>/CompanyRegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComponyLogin</servlet-name>
        <url-pattern>/ComponyLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostInternshipServlet</servlet-name>
        <url-pattern>/PostInternshipServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInternshipServlet</servlet-name>
        <url-pattern>/DeleteInternshipServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCompInternshipServlet</servlet-name>
        <url-pattern>/viewCompInternshipServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
